# Ignore data files
*.csv
*.xlsx
*.pdf

# Ignore Python cache and environment folders
__pycache__/
*.py[cod]
*pytest_cache/
venv/
linuxvenv/

# VSCode settings
.vscode/

# Model, cache, and output folders
bm25_cache/
.cache/
models/
qdrant_data/
models--Cohere--multilingual-22-12/

# Optional: Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Optional: Logs and temporary files
*.log
*.tmp

.cache/
*.env